<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <img class="header__front d-none d-md-block" src="../img/header-front.png" alt="img">
                <img class="header__front d-block d-md-none" src="../img/header-mobile.png" alt="img">
                <img class="header__back" src="../img/header-back.png" alt="img">
                <div class="col-3">
                    <div class="header__logo">
                        <a href="#">
                            <img src="../img/header-logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <nav class="header__menu justify-content-center">
                        <div class="header__phone d-flex d-md-none">
                            <a href="tel:0930051266" class="menu__tel">
                                <img src="./img/menu-tel-icon.svg" alt="">
                                +380930051266
                            </a>
                        </div>
                        <ul id="burger-menu" class="menu__list d-flex">
                            <li class="menu">
                                <a href="#" class="menu__link">Про нас</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Викладачі</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Навчання</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Відгуки</a>
                            </li>
                            <li class="menu">
                                <a href="#" class="menu__link">Контакти</a>
                            </li>
                            <!--Тут будуть іконки-->
                            <div class="menu-row mt-5">
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/facebook-icon.svg" alt="facebook-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/telegram-icon.svg" alt="telegram-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/twitter-icon.svg" alt="twitter-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/insta-icon.svg" alt="insta-icon"></a>
                                </li>
                                <li class="menu-mobile">
                                    <a href="#"><img src="./img/mobile-icons/phone-icon.svg" alt="phone-icon"></a>
                                </li>
                            </div>
                        </ul>
                        <div id="burger" class="header__menu__burger d-md-none">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
                <!-- <div class="col-3">
                    <div class="header__logo">
                        <a href="#">
                            <img src="../img/header-logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <nav class="header__nav d-flex">
                        <div class="header__contact d-md-none">
                            <img src="../img/header-phone.svg" alt="header-phone">
                            <a href="tel: +380930051266">
                                +380930051266
                            </a>
                        </div>
                        <ul id="burger-menu" class="header__menu d-flex">
                            <li class="header__item" style="white-space: nowrap;">
                                <a class="header__link" href="#">Про нас</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="#">Викладачі</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="#">Навчання</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="#">Навчання</a>
                            </li>
                            <li class="header__item">
                                <a class="header__link" href="#">Контакти</a>
                            </li>
                        </ul>
                        <div id="burger" class="header__burger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div> -->
            </div>
        </div>
    </div>
</header>