<!-- <div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="hero__title">
                    Школа іноземних мов
                    Ірини Кісери
                </div>
                <div class="hero__btn"></div>
                <div class="hero__icon"></div>
            </div>
        </div>
    </div>
</div> -->

<section class="hero">
    <div class="hero__container container">
       <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-center">
             <div class="hero__items d-flex">
                <div class="hero__contents">
                   <div class="hero__title">
                      Школа іноземних мов
                      Ірини Кісери
                   </div>
                   <button class="hero__btn">Замовити дзвінок</button>
                </div>
                <div class="hero__logo">
                   <img src="../img/hero-img.png" alt="img">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>