<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero__title">
                    Школа іноземних мов
                    Ірини Кісери
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, nam sit rerum, ea ducimus cum explicabo nihil autem consequatur facere optio magni consequuntur veniam natus earum cumque id quaerat corporis.
                </div>
                <div class="hero__btn"></div>
                <div class="hero__icon"></div>
            </div>
        </div>
    </div>
</section>