.teams__item{
    background-color: #033D20;
    padding: 44px 60px 40px;
    min-height: 500px;
    .teams__title{
        padding: 20px 0px 32px;
        font-family: 'Marck Script';
        font-weight: 400;
        font-size: 48px;
        line-height: 1;
        color: #FFDDB6;
    }
    .teams__describe{
        font-family: 'Marck Script';
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        color: #FFDDB6;
    }
}

.teams__img {
    max-width: 720px;
}

.teams__slider {
    margin-top: 100px;
}

.teams__icon {
    .icon-background{
        padding: 20px;
        background-color: #FFFDF8;
        transform: translateY(-100px);
        border-radius: 15px;
        // max-width: 446px;
    }
    .icon-title{

        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        color: #033D20;
    }
    
    .icon-describe {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        color: #033D20;
    }
}
// .icon-title{
//     font-family: 'Montserrat';
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 1.2;
//     color: #033D20;
// }
